{% extends 'main.html' %}

{% block content %}

<!--   Start --><main class="profile-page layout layout--2">
      <div class="container">
<div class="participants">
    <h3 class="participants__top">connections <span>({{participants.count}} people)</span></h3>
    <div class="participants__list scroll">
      {% for user in participants.following.all %}
      <a href="{%  url 'profile_page' user.id %}" class="participant">
        <div class="avatar avatar--medium">
          <img src="{{user.avatar.url}}" />
        </div>
        <p>
          {{user.name}} <a href="{% url 'communi' %}?l={{user.username}}">msg</a>
          <span>@{{user.username}}</span>
        </p>
      </a>
      {% endfor %}
    </div>
  </div>
  <!--  End -->
</div>
</main>
<script src="script.js"></script>
{% endblock content %}
     <!--  End -->
    </div>
</main>