{% extends 'main.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'shazam/topic component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{users.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{users.name}}</h3>
          <p>@{{users.username}}</p>
          <a href="{% url 'inbox' users.id %}"> following : </a>
          <p> {{ users.followers.count }} </p>
          <a href="{% url 'inbox' users.id %}"> followers : </a>
          <p> {{ users.following.count }} </p>
          <span>{% if users.is_authenticated %}
            
            {% if request.user != users %}
           
            

            {% if user in users.following.all%}
            
                <a href="{% url 'followToggle' author=users.username  %}" class="btn btn--main btn--pill">Unfollow</a>
              {% else %}
                <a  href="{% url 'followToggle' author=users.username  %}" class="btn btn--main btn--pill"> Follow </a>
            {% endif %}
            {% endif %}
            
            <button class="btn btn--main btn--pill"><a href="{% url 'inbox' users.id%}">message </a></button>
          {% else %}
            <p class="text-muted"> please, login to follow </p>
          {% endif %}</span>

          {% if request.user == users %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{users.bio}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{users.username}}
          </h2>
        </div>
      </div>
      {% include 'shazam/room_component.html' %}


    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'shazam/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}